apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus-operated:9090
    isDefault: true
    editable: false
    version: 1
    basicAuth: false
    # Additional settings can be added here (TLS, auth)